<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!--<h2 class="section-heading">I focus on impact via</h2>
                    <h2 class="section-heading text-muted">I focus on impact via</h2>-->
                    <h3 class="section-heading text-muted" style="margin-bottom: 55px;">I focus on Impact via</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="bi bi-boxes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Strategy & Roadmap</h4>
                    <p class="text-muted">Companies win or lose based on the quality of their products. I help you not just deliver products that customers love but also those that scale and drive your company strategy. We will work together on refining what “good” product strategy looks like, how should prioritization and recalibration be done and eventually how the product impacts short, mid and long term business outcomes!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="gg-trending fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Growth Hacking & Marketing</h4>
                    <p class="text-muted">Businesses that aren’t growing, are dying. Growth Marketing teams are a combination of hackers and hustlers who believe in agile, evidence based and data driven marketing decisions. I help you build a marketing & growth strategy focussed on maximising business growth by making effective decisions across the entire funnel at the speed of data. We don’t abandon creative thinking but activate creative experiments and measure them to iterate and optimise.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users-gear fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Performance Coaching</h4>
                    <p class="text-muted">I work with founders, leaders and their teams to unleash the incredible talent and potential of their employees. I coach founders on self awareness, emotional intelligence, building skills they need during the highs and the lows of their startup journey. Together, we do the deep work on crucial conversations, high stake decision making, building relationships and scaling their organisation and culture. I've worked with founders from pre-seed to Series A.</p>
                </div>
            </div>
        </div>
    </section>
